<div class="lessen_wrapper">
  <p class="lessen_title first_title">
    Sie hĮren nun fŐnf kurze Texte􏰂 Sie hĮren jeden Text zweimal􏰂 Zu jedem Text
    lĮsen Sie zwei Aufgaben􏰂 Wählen Sie bei jeder Aufgabe die richtige LĮsung􏰂
    Lesen Sie zuerst das Beispiel􏰂 Dazu haben Sie 􏰀􏰇 Sekunden Zeit􏰂
  </p>
  <div class="horen_audio">
    <span>HÖREN</span>
    <div id="waveform" data-source="/assets/media/video.mp4"></div>
    <p class="time">00:00</p>
    <div class="control">
      <i class="fas fa-play-circle" id="playBtn"></i>
      <i class="fas fa-pause-circle" id="pauseBtn"></i>
    </div>
  </div>
  <div class="question_container horen-4">
    <div class="answer-title">
      <span>I. Berger</span>
      <span>K. Weser</span>
    </div>
    <div class="question_area">
      <p class="question_title">Beispiel</p>
      <div class="question_block">
        <div class="question">
          <span class="question_number">1</span>
          <span class="question_content"
            >Clemens’ Mutter kommt aus dem Libanon.</span
          >
        </div>
        <div class="answer_block">
          <label
            ><input type="radio" name="answer" value="a" /><span>A</span></label
          >
          <label
            ><input type="radio" name="answer" value="b" /><span>B</span></label
          >
          <label
            ><input type="radio" name="answer" value="c" /><span>C</span></label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <a href="#">Nächster Beitrag<i class="fas fa-angle-right"></i></a>
  </div>
</div>
