<div class="lessen_wrapper">
  <p class="lessen_title first_title">
    Sie hĮren nun fŐnf kurze Texte􏰂 Sie hĮren jeden Text zweimal􏰂 Zu jedem Text
    lĮsen Sie zwei Aufgaben􏰂 Wählen Sie bei jeder Aufgabe die richtige LĮsung􏰂
    Lesen Sie zuerst das Beispiel􏰂 Dazu haben Sie 􏰀􏰇 Sekunden Zeit􏰂
  </p>
  <div class="horen_audio">
    <span>HÖREN</span>
    <div id="waveform" data-source="/assets/media/video.mp4"></div>
    <p class="time">00:00</p>
    <div class="control">
      <i class="fas fa-play-circle" id="playBtn"></i>
      <i class="fas fa-pause-circle" id="pauseBtn"></i>
    </div>
  </div>
  <div class="question_container">
    <div class="question_area">
      <div class="question_title style-2">
        <span>Beispiel</span> 
        <div class="answer_block">
          <label for="atrue"
            ><input type="radio" id="atrue" name="answer" value="1" /><span
              >Richtig</span
            ></label
          >
          <label for="afalse"
            ><input type="radio" id="afalse" name="answer" value="0" /><span
              >Falsch</span
            ></label
          >
        </div>
      </div>
      <div class="question_block">
        <div class="question">
          <span class="question_number">10</span>
          <span class="question_content">IndiesemTextgehtesdarum,...</span>
        </div>
        <div class="answer_block">
          <div class="answer">
            <span data-value="A">A</span>
            <p>wie die Schweizerische Post funktioniert.</p>
          </div>
          <div class="answer">
            <span data-value="B">B</span>
            <p>dass die Schweizerische Post eine interessante Webseite hat.</p>
          </div>
          <div class="answer">
            <span data-value="C">C</span>
            <p>dass man eine Briefmarke selbst machen kann.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
