<div class="lessen_wrapper">
  <p class="lessen_title first_title">
    Sie hĮren nun fŐnf kurze Texte􏰂 Sie hĮren jeden Text zweimal􏰂 Zu jedem Text
    lĮsen Sie zwei Aufgaben􏰂 Wählen Sie bei jeder Aufgabe die richtige LĮsung􏰂
    Lesen Sie zuerst das Beispiel􏰂 Dazu haben Sie 􏰀􏰇 Sekunden Zeit􏰂
  </p>
  <div class="horen_audio">
    <span>HÖREN</span>
    <div id="waveform" data-source="/assets/media/abc.mp3"></div>
    <p class="time">00:00</p>
    <div class="control">
      <i class="fas fa-play-circle" id="playBtn"></i>
      <i class="fas fa-pause-circle" id="pauseBtn"></i>
    </div>
  </div>
  <div class="question_container horen-2">
    <div class="question_area">
      <div class="question_block true_false">
        <div class="question">
          <span class="question_number">1</span>
          <span class="question_content"
            >Clemens’ Mutter kommt aus dem Libanon.</span
          >
        </div>
        <div class="answer_block">
          <label for="atrue"
            ><input type="radio" id="atrue" name="answer" value="1" /><span
              >Richtig</span
            ></label
          >
          <label for="afalse"
            ><input type="radio" id="afalse" name="answer" value="0" /><span
              >Falsch</span
            ></label
          >
        </div>
      </div>
    </div>
  </div>
</div>
