<div class="lessen_wrapper">
  <p class="lessen_title first_title">
    Lesen Sie den Text aus der Presse und die Aufgaben bis dazu Wählen Sie bei
    jeder Aufgabe die richtige LĮsung a b oder c
  </p>
  <p class="lessen_title second_title">WebStamp: persönliche Briefmarken</p>
  <p class="desc">
    Die Schweizerische Post hatte mit der WebStamp, der elektronischen
    Briefmarke, eine neue, kreative Idee. WebStamp bietet die Möglichkeit,
    direkt am PC eigene Briefmarken zu gestalten und auszudrucken. Beson- ders
    interessant ist diese innovative Online-Frankier-Lösung für Firmen, da
    Briefe und Mailings mit individuellen Marken auffallen und beim Empfänger
    für Interesse sorgen. So sendet man auf und mit der Briefmarke auch eine
    Mini-Reklame und bleibt den Kunden auf jeden Fall in Erinnerung. Die
    Vorteile von WebStamp lassen sich ganz einfach nutzen. Nach der Anmeldung
    auf der Webseite der Schweizerischen Post kann’s losgehen mit dem Gestalten
    einer individuellen Briefmarke. Als Sujet ist alles möglich: Fotos, Firmen-
    und Produktlogos, Gra- fiken oder sogar Reklamebotschaften. WebStamp
    funktioniert online und ist kostenlos. Man bezahlt nur das Por- to, also den
    Wert, den die Briefmarke dann hat. Eine 1-Franken-Briefmarke kostet demnach
    auch nur einen Fran- ken. Diese neuartigen Briefmarken gelten sowohl im
    Inland als auch im Ausland. Da das alles über Computerpro- gramme läuft,
    sind auch verschiede- ne Druckformate möglich, falls man beispielsweise die
    Empfängeradresse in die eigene WebStamp integrieren möchte. Adressen können
    direkt aus Excel importiert werden. Genaue Informationen und Ideen zur
    GestaltungerhältmaninderInfo-Bro- schüre der Schweizerischen Post unter
    www.post.ch/webstamp.
  </p>
  <div class="question_container">
    <div class="question_area">
      <p class="question_title">Beispiel</p>
      <div class="question_block true_false">
        <div class="question">
          <span class="question_number">0</span>
          <span class="question_content"
            >Clemens’ Mutter kommt aus dem Libanon.</span
          >
        </div>
        <div class="answer_block">
          <label for="atrue"><input type="radio" id="atrue" name="answer" value="1"/><span>Richtig</span></label>
          <label for="afalse"><input type="radio" id="afalse" name="answer" value="0"/><span>Falsch</span></label>
        </div>
      </div>
    </div>
    <div class="question_area">
        <div class="question_block true_false">
          <div class="question">
            <span class="question_number">1</span>
            <span class="question_content"
              >Clemens’ Mutter kommt aus dem Libanon.</span
            >
          </div>
          <div class="answer_block">
            <label for="atrue"><input type="radio" id="atrue" name="answer" value="1"/><span>Richtig</span></label>
            <label for="afalse"><input type="radio" id="afalse" name="answer" value="0"/><span>Falsch</span></label>
          </div>
        </div>
      </div>
  </div>
  <div class="navigation">
    <a href="#">Nächster Beitrag<i class="fas fa-angle-right"></i></a>
  </div>
</div>
