.about_wrapper {
  padding-top: 55px;
  overflow: visible;
  .title_container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 41px;
    > * {
      flex-grow: 1;
    }
    div {
      border-top: 2px solid $black;
    }
    h1 {
      flex-grow: 0;
      padding: 0 13px;
      font-size: 28px;
      line-height: 34px;
      font-weight: 400;
    }
  }
  .about_container {
    .about_item {
      @include flexbox();
      @include align-items(stretch);
      @include justify-content(space-between);
      gap: 43px;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 68px;
      box-sizing: border-box;
      padding: 27px 70px 29px 29px;
      @include max-ml {
        padding: 25px;
        flex-wrap: wrap;
      }
      .avt {
        position: relative;
        flex-grow: 0;
        img {
          max-width: 100%;
          &.icon-star {
            position: absolute;
            top: 30px;
            left: 31px;
            max-width: 34px;
            width: 15%;
            @include max-md {
              left: 10%;
              top: 5%;
            }
          }
        }
      }
      .content {
        flex-grow: 1;
        @include flexbox();
        @include align-items(stretch);
        @include justify-content(space-between);
        @include flex-direction(column);
        > * {
          flex-grow: 1;
        }
        p {
          font-size: 14px;
          line-height: 17px;
          color: #ea2748;
        }
        .name {
          h3 {
            font-size: 25px;
            line-height: 30px;
            font-weight: normal;
            @include max-ml {
              font-size: 18px;
            }
          }
          .info {
            span {
              display: inline-block;
              margin-right: 20px;
              img {
                display: inline-block;
                vertical-align: middle;
                width: auto;
              }
            }
            p {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .achievement {
          padding-top: 17px;
          border-top: 1px solid #bbbbbb;
          @include max-ml {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid #bbbbbb;
          }
          h3 {
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 2px;
            padding-left: 25px;
            position: relative;
            @include max-ml {
              font-size: 15px;
              padding-left: 0;
            }
            &::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: $black;
              border-radius: 50%;
              top: 9px;
              left: 10px;
              @include max-ml {
                display: none;
              }
            }
          }
        }
        .quote {
          padding-top: 36px;
          font-family: "UTM Avo";
          font-style: italic;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
    &.owl-carousel {
      .owl-stage-outer {
        overflow: visible;
        .owl-stage {
          .owl-item {
            &:not(.active) {
              &::after {
                content: "";
                background-color: #fff;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 68px;
              }
            }
          }
        }
      }
      .owl-dots {
        text-align: center;
        margin-top: 25px;
        .owl-dot {
          width: 18px;
          height: 18px;
          background: #d8d8d8;
          border-radius: 50%;
          margin-left: 40px;
          &:first-child {
            margin-left: 0;
          }
          &.active {
            background: #fedd58;
          }
        }
      }
    }
  }
}
