.review {
  margin-top: 137px;
  margin-bottom: 50px;
  width: 70%;
  @include max-ml {
    width: 100%;
  }
  &__title {
    font-size: 1.8rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.9rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 12rem;
      height: 0.2rem;
      background: $color_line;
    }
  }

  textarea {
    margin: 1.3rem 0 1.1rem;
    padding: 1.6rem 1.8rem;
    background: $color_bg_gray;
    border-radius: 22px;
    border: none;
    width: calc(100% - 30px);

    @include placeholder {
      color: $color_placeholder;
    }
  }

  form {
    @include flexbox();
    @include justify-content(start);
    @include align-items(space-between);
    @include flex-direction(column);
    @include flex-wrap(wrap);

    p:nth-child(7) {
      @include flexbox();
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      gap: 1.2rem;
      span {
        width: 49%;
        &:first-child {
          width: 100%;
        }

        @include max-ml {
          width: 100%;
        }
      }
      br {display: none;}
    }

    input {
      padding: 0.8rem 1.2rem;
      background: $color_bg_gray;
      border: none;
      border-radius: 8px;
      width: calc(100% - 2.4rem);

      @include placeholder {
        color: $color_placeholder;
      }
    }

    span {
      font-size: 1rem;
    }

    span.fullname input {
      margin-top: 0.8rem;
      width: calc(100% - 2.4rem);
    }
  }

  .group-btn {
    text-align: right;
    input {
      margin-top: 1.4rem;
      background: $color_border;
      border-radius: 7px;
      font-size: 1.3rem;
      color: $white;
      border: none;
      padding: 0.6rem 3.2rem;
      width: auto;
    }
  }
}
