.review {
  margin-top: 137px;
  margin-bottom: 50px;
  width: 70%;
  @include max-ml {
    width: 100%;
  }
  &__title {
    font-size: 1.8rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.9rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 12rem;
      height: 0.2rem;
      background: $color_line;
    }
  }

  textarea {
    margin: 1.3rem 0 1.1rem;
    padding: 1.6rem 1.8rem;
    background: $color_bg_gray;
    border-radius: 22px;
    border: none;
    width: calc(100% - 30px);

    @include placeholder {
      color: $color_placeholder;
    }
  }

  .group-form form {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    input {
      padding: 0.8rem 1.2rem;
      background: $color_bg_gray;
      border: none;
      border-radius: 8px;
      width: 45%;
      @include placeholder {
        color: $color_placeholder;
      }

      @include max-ml {
        width: 100%;
        margin-bottom: 1.6rem;
        &:nth-child(3) {
           margin-bottom: 0;
          }
      }

      &:first-child {
        margin-top: 0.8rem;
        margin-bottom: 1.6rem;
        width: 100%;
      }
    }

    span {
      font-size: 1rem;
      width: 100%;
      margin-top: 12px;
    }

    button {
      margin-top: 1.4rem;
      background: #ea2847;
      border-radius: 7px;
      font-size: 1.3rem;
      color: $white;
      border: none;
      padding: 0.6rem 3.2rem;
    }

    .group-btn {
      text-align: right;
      width: 100%;
    }
  }
}
