.course_wrapper {
  padding-bottom: 44px;
  padding-top: 38px;
  .title_container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 15px;
    > * {
      flex-grow: 1;
    }
    div {
      border-top: 2px solid $black;
    }
    h1 {
      flex-grow: 0;
      padding: 0 13px;
      font-size: 28px;
      line-height: 34px;
      font-weight: 400;
    }
  }
  .course_container {
    position: relative;
    .owl-stage-outer {
      padding-top: 15px;
    }
    .course_item {
      cursor: pointer;
      &:hover {
        transform: translateY(-15px);
      }
      > a {
        &:first-child {
          background: #fed000;
          box-shadow: inset -10px 0px 10px -10px rgba(250, 27, 27, 0.3);
          position: relative;
          height: 234px;
          display: block;
          overflow: hidden;
          &::after {
            content: "";
            width: 3px;
            height: 104px;
            background: #fff;
            border-radius: 3.5px;
            position: absolute;
            top: 50%;
            right: -1px;
            transform: translate(-50%, -50%);
          }
        }
      }
      span {
        background: #cc1c38;
        border-radius: 7px;
        font-family: "Lemon/Milk";
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 33px;
        color: #fff;
        position: absolute;
        top: 12px;
        left: 15px;
        padding: 4px 8px;
      }
      img {
        width: auto;
        display: block;
        margin: 0 auto;
      }
      p {
        width: 100%;
        text-align: center;
        font-size: 23px;
        line-height: 28px;
        background: #fff;
        color: $black;
        position: relative;
        &::after {
          content: "";
          width: 3px;
          height: 47px;
          background: #fed000;
          border-radius: 3.5px;
          position: absolute;
          top: 50%;
          right: -1px;
          transform: translate(-50%, -50%);
        }
        a {
          font-size: 23px;
          padding: 30px 0 20px;
          width: 100%;
          display: block;
        }
      }
      &.item_a1 {
        img {
          padding-top: 64px;
        }
      }
      &.item_a2 {
        img {
          padding-top: 61px;
        }
      }
      &.item_b1 {
        img {
          padding-top: 28px;
        }
      }
      &.item_b2 {
        div {
          box-shadow: none;
          &::after {
            display: none;
          }
        }
        img {
          padding-top: 16px;
        }
        p {
          &::after {
            display: none;
          }
        }
      }
    }
    .owl-nav {
      &.disabled {
        display: block;
      }
      .owl-prev {
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translate(-50%, -50%);
        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 10px;
          right: 12px;
          border-top: 10px solid transparent;
          border-right: 20px solid #c4c4c4;
          border-bottom: 10px solid transparent;
        }
      }
      .owl-next {
        position: absolute;
        right: -80px;
        top: 50%;
        transform: translate(-50%, -50%);
        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 10px;
          right: 8px;
          border-top: 10px solid transparent;
          border-left: 20px solid #c4c4c4;
          border-bottom: 10px solid transparent;
        }
      }
      button {
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        span {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .course_container {
    width: calc(100vw - 140px);
    margin: 0 auto;
  }
}
