.course_lesson_detail_wrapper {
  .breadcrum {
    * {
      font-size: 18px;
      line-height: 22px;
      color: #757575;
      &::before {
        content: "/";
        margin: 0 5px;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
  .course_lesson_detail_container {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    padding: 28px 55px;
    @include max-md {
      padding: 2.8rem 2rem;
    }
    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 35px;
    }
    .desc {
      font-size: 14px;
      line-height: 17px;
      text-transform: lowercase;
      margin-top: 20px;
    }
    .course_lesson_detail {
      margin-top: 50px;
      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
      }
      iframe {
        width: 100%;
        margin-top: 21px;
      }
      .slide {
        padding: 11px 28px;
        background: #e9e9e9;
        border-radius: 10px;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-top: 11px;
        cursor: pointer;
        position: relative;
        &::after {
          border-top: 1.5px solid $black;
          border-right: 1.5px solid $black;
          content: "";
          height: 7px;
          position: absolute;
          top: 15px;
          width: 7px;
          transform: rotate(225deg);
          right: 25px;
          transition: all 0.3s ease-in-out;
        }
        &.active {
          &::after {
            transform: rotate(135deg);
          }
        }
      }
      .slide_detail {
        display: none;
        margin-top: 11px;
        .slide_lesson_detail {
          @include flexbox();
          @include align-items(center);
          @include justify-content(space-between);
          gap: 14px;
          flex-wrap: wrap;
          .slide_lesson_detail_item {
            flex: 0 1 calc(50% - 7px);
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            background: $white;
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            padding: 9px 17px 11px 14px;
            box-sizing: border-box;
            @include max-md {
              flex: 0 1 100%;
            }
            .info {
              padding-right: 25px;
              flex-grow: 1;
              p {
                font-size: 8px;
                line-height: 10px;
                &.lesson_title {
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 3px;
                  i {
                    display: inline-block;
                    height: 1px;
                    width: 7px;
                    vertical-align: middle;
                    margin: 0 10px;
                    background: $color_border;
                  }
                }
              }
              a {
                font-size: 8px;
                line-height: 10px;
                color: $white;
                background: $color_border;
                border-radius: 5px;
                text-align: center;
                padding: 5px 14px;
                display: inline-block;
                margin-top: 8px;
              }
            }
            .percent_bar {
              width: 60px;
              height: 60px;
              position: relative;
              span {
                font-size: 13px;
                line-height: 16px;
                color: $color_border;
                background: #e8e8e8;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                line-height: 50px;
                text-align: center;
              }
              .percent {
                height: 100%;
                width: 100%;
                clip: rect(0, 30px, 60px, 0);
                left: 0;
                position: absolute;
                top: 0;
                .half {
                  height: 100%;
                  width: 100%;
                  border: 5px solid $color_border;
                  border-radius: 50%;
                  clip: rect(0, 30px, 60px, 0);
                  left: 0;
                  position: absolute;
                  top: 0;
                  box-sizing: border-box;
                  &.left_side {
                    transform: rotate(180deg);
                  }
                }
              }
              .shadow {
                height: 100%;
                width: 100%;
                border: 5px solid $black;
                border-radius: 50%;
                box-sizing: border-box;
              }
            }
            .bar {
              height: 52.36px;
              width: 1px;
              background: #8f8f8f;
              margin-right: 14.5px;
            }
          }
        }
      }
    }
  }
}

.follow-register {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  gap: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 1.5rem;
  padding: 2.2rem 2.6rem;
  margin-top: 4.5rem;
  @include max-md {
    @include flex-wrap(wrap);
  }
  p {
    @include flexbox();
    @include align-items(center);
    gap: 1.6rem;
    line-height: 1.92rem;
    &::before {
      content: "";
      display: inline-block;
      background: url("/assets/images/book.png") no-repeat;
      min-width: 3.5rem;
      height: 3.5rem;
    }
  }
  button {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
    background: $color_primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 1.2rem;
    border: none;
    min-width: 16rem;
  }
}
