.course_detail_wrapper,
.exam_detail_wrapper {
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 13px;
    span {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .course_detail_container {
    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start);
    gap: 12px;
    @include max-md {
      @include flex-wrap(wrap);
    }
    .lesson_list_container {
      flex: 0 0 234.5px;
      max-height: 646px;
      overflow-y: auto;
      @include max-md {
        width: 100%;
        flex: 1;
      }
      .lesson_item {
        color: $black;
        min-height: 55px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        position: relative;
        box-sizing: border-box;
        border-left: 2.5px solid #ffc811;
        background-color: #fff;
        .item_title {
          font-size: 14px;
          line-height: 17px;
          flex: 0 0 23%;
          text-align: center;
          &::after {
            content: "";
            width: 1px;
            height: 80%;
            background-color: #c4c4c4;
            position: absolute;
            left: 23%;
            top: 10%;
          }
          &::before {
            content: "";
            width: 80%;
            height: 1px;
            background-color: #c4c4c4;
            position: absolute;
            left: 10%;
            bottom: 0px;
          }
        }
        .item_detail {
          font-size: 12px;
          line-height: 14px;
          padding: 5px;
          padding-left: 11px;
          padding-right: 25px;
        }
        &.active {
          background-color: #f5f5f5;
        }
      }
    }
    .lesson_detail_container {
      flex-grow: 1;
      background: #fcfcfc;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
      border-radius: 9px;
      padding: 39px 60px 22px;
      @include max-md {
        padding: 0;
        box-shadow: none;
      }
      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 24px;
      }
      iframe {
        width: 100%;
      }
      .slide {
        padding: 11px 28px;
        background: #e9e9e9;
        border-radius: 10px;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-top: 11px;
        cursor: pointer;
        position: relative;
        &::after {
          border-top: 1.5px solid $black;
          border-right: 1.5px solid $black;
          content: "";
          height: 7px;
          position: absolute;
          top: 15px;
          width: 7px;
          transform: rotate(225deg);
          right: 25px;
          transition: all 0.3s ease-in-out;
        }
        &.active {
          &::after {
            transform: rotate(135deg);
          }
        }
      }
      .slide_detail {
        display: none;
        margin-top: 11px;
        .slide_lesson_detail {
          @include flexbox();
          @include align-items(center);
          @include justify-content(space-between);
          gap: 14px;
          flex-wrap: wrap;
          .slide_lesson_detail_item {
            flex: 0 1 calc(50% - 7px);
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            background: $white;
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            padding: 9px 17px 11px 14px;
            box-sizing: border-box;
            border-left: 2px solid $color_border;
            @include max-md {
              flex: 0 1 100%;
            }
            .info {
              padding-right: 25px;
              flex-grow: 1;
              p {
                font-size: 8px;
                line-height: 10px;
                &.lesson_title {
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 3px;
                  i {
                    display: inline-block;
                    height: 1px;
                    width: 7px;
                    vertical-align: middle;
                    margin: 0 10px;
                    background: $color_border;
                  }
                }
              }
              a {
                font-size: 8px;
                line-height: 10px;
                color: $white;
                background: $color_border;
                border-radius: 5px;
                text-align: center;
                padding: 5px 14px;
                display: inline-block;
                margin-top: 8px;
              }
            }
            .percent_bar {
              width: 60px;
              height: 60px;
              position: relative;
              span {
                font-size: 13px;
                line-height: 16px;
                color: $color_border;
                background: #e8e8e8;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                line-height: 50px;
                text-align: center;
              }
              .percent {
                height: 100%;
                width: 100%;
                clip: rect(0, 30px, 60px, 0);
                left: 0;
                position: absolute;
                top: 0;
                .half {
                  height: 100%;
                  width: 100%;
                  border: 5px solid $color_border;
                  border-radius: 50%;
                  clip: rect(0, 30px, 60px, 0);
                  left: 0;
                  position: absolute;
                  top: 0;
                  box-sizing: border-box;
                  &.left_side {
                    transform: rotate(180deg);
                  }
                }
              }
              .shadow {
                height: 100%;
                width: 100%;
                border: 5px solid $black;
                border-radius: 50%;
                box-sizing: border-box;
              }
            }
            .bar {
              height: 52.36px;
              width: 1px;
              background: #8f8f8f;
              margin-right: 14.5px;
            }
          }
        }
      }
    }
  }
}
