.sidebar-blog,
.news {
    &__title {
        font-size: 1.7rem;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        gap: 1.9rem;
        line-height: 4.3rem;
        &:after {
            content: "";
            display: block;
            border: 1px solid $black;
            flex: 1;
            height: 0;
        }
    }
    .article-lst {
        margin: 1.3rem 0 1.6rem;
        @include flexbox();
        @include align-items(space-between);
        @include flex-direction(column);
        gap: 3.1rem;
        .article-item {
            @include flexbox();
            @include align-items(flex-start);
            @include justify-content(space-between);
            gap: 1.5rem;
        }
        img {
            width: 40%;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin-bottom: 0.5rem;
        }
        span {
            @include flexbox();
            @include align-items(center);
            gap: 0.5rem;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #7e7e7e;
            flex: 1;
            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #7e7e7e;
            }
            &.active {
                &::before {
                    background: $color_red;
                }
            }
        }
    }
}

.sidebar-blog {
  img {
    @include max-md {
        width: 100%;
    }
  }
}
