<footer class="footer style-2">
    <div class="container">
        <div class="partner">
            <p class="partner__title">ĐỐI TÁC CỦA SIÊU TIẾNG ĐỨC</p>
            <div class="partner__list">
                <img src="" class="partner__item" />
                <img src="" class="partner__item" />
                <img src="" class="partner__item" />
            </div>
        </div>
        <div class="link-social">
            <img src="../../assets/images/logo-2.png" alt="logo-text">
            <div class="link-social__list">
                <a class="link-social__item" href=""><img src="/assets/images/icon-fb.png" alt="facebook"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-youtube.png" alt="youtube"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-instagram.png" alt="instagram"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-mail.png" alt="mail"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-tiktok.png" alt="tiktok"></a>
            </div>
        </div>
        <div class="contact">
            <span class="contact__title style-text">Liên hệ</span>
            <div class="contact__list">
                <div class="contact__item">
                    <div class="contact__item-title style-text">Hà nội</div>
                    <div class="contact__item-content">
                        <p>302 Nguyễn Trãi, Phường Trung Văn, Nam Từ Liêm. </p>
                        <p>ĐT: (+84) 986 504 482</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">Tây đức</div>
                    <div class="contact__item-content">
                        <p>Turmstr. 28, 89213 Neu-ulm, Bayern</p>
                        <p>ĐT: (+49) 162 3163 468</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">TP.HCM</div>
                    <div class="contact__item-content">
                        <p>72/29/1A Phan Đăng Lưu, Phường 5, Phú Nhuận.</p>
                        <p>ĐT: (+84) 948 701 380</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">Đông đức</div>
                    <div class="contact__item-content">
                        <p>Sandower hauptstr. 9, 03042 Cottbus</p>
                        <p>ĐT: (+49) 1733 911 278</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <div class="social__title">
                <div class="social__fanpage">
                    <span>FANPAGE SIÊU TIẾNG ĐỨC</span>
                </div>
                <div class="social__fanpage">
                    <span>YOUTUBE SIÊU TIẾNG ĐỨC</span>
                </div>
            </div>
        </div>
        <div class="copyright">2021 Sieutiengduc Viet Nam</div>
    </div>
</footer>
<!-- libs  --->
<script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
<script src="./assets/libs/owlCarousel/owl.carousel.min.js"></script>
<script src="./js/ui.js"></script>
<script src="./js/dynamic.js"></script>
</body>
</html>