<footer class="footer">
    <div class="newsletter">
        <div class="newsletter__left container">
            <div class="newsletter__title">BẠN QUAN TÂM ?</div>
            <p class="newsletter__subtitle">Vui lòng để lại thông tin bên dưới để nhận tư vấn về các chương trình, 
                khoá học, và tham dự lớp học thử miễn phí !</p>
            <form id="newsletterForm" action="/#wpcf7-f267-p31-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                <p>
                <span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và tên *"></span><br>
                <span class="wpcf7-form-control-wrap birthday"><input type="text" name="birthday" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Năm sinh"></span><br>
                <span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Số điện thoại liên hệ *"></span><br>
                <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email *"></span><br>
                <span class="wpcf7-form-control-wrap address"><input type="text" name="address" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Khu vực sống *"></span><br>
                <span class="wpcf7-form-control-wrap info"><textarea name="info" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Thông tin quan tâm"></textarea></span></p>
                <div class="newsletter__bottom">
                    <p>    <span class="wpcf7-form-control-wrap receive"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><label><span class="wpcf7-list-item-label">Đăng ký nhận newsletter</span><input type="checkbox" name="receive[]" value="Đăng ký nhận newsletter"></label></span></span></span></p>
                    <p>  <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit newsletter__btn-submit button"><span class="ajax-loader"></span>
                </p></div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
        </div>
        <div class="newsletter__right">
            <img src="/assets/images/bg-newsletter.png" alt="newsletter-right">
        </div>
    </div>
    <div class="container">
        <div class="partner">
            <p class="partner__title">ĐỐI TÁC CỦA SIÊU TIẾNG ĐỨC</p>
            <div class="partner__list">
                <img src="" class="partner__item" />
                <img src="" class="partner__item" />
                <img src="" class="partner__item" />
            </div>
        </div>
        <div class="link-social">
            <img src="../../assets/images/logo-2.png" alt="logo-text">
            <div class="link-social__list">
                <a class="link-social__item" href=""><img src="/assets/images/icon-fb.png" alt="facebook"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-youtube.png" alt="youtube"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-instagram.png" alt="instagram"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-mail.png" alt="mail"></a>
                <a class="link-social__item" href=""><img src="/assets/images/icon-tiktok.png" alt="tiktok"></a>
            </div>
        </div>
        <div class="contact">
            <span class="contact__title style-text">Liên hệ</span>
            <div class="contact__list">
                <div class="contact__item">
                    <div class="contact__item-title style-text">Hà nội</div>
                    <div class="contact__item-content">
                        <p>302 Nguyễn Trãi, Phường Trung Văn, Nam Từ Liêm. </p>
                        <p>ĐT: (+84) 986 504 482</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">Tây đức</div>
                    <div class="contact__item-content">
                        <p>Turmstr. 28, 89213 Neu-ulm, Bayern</p>
                        <p>ĐT: (+49) 162 3163 468</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">TP.HCM</div>
                    <div class="contact__item-content">
                        <p>72/29/1A Phan Đăng Lưu, Phường 5, Phú Nhuận.</p>
                        <p>ĐT: (+84) 948 701 380</p>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__item-title style-text">Đông đức</div>
                    <div class="contact__item-content">
                        <p>Sandower hauptstr. 9, 03042 Cottbus</p>
                        <p>ĐT: (+49) 1733 911 278</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <div class="social__title">
                <div class="social__fanpage">
                    <span>FANPAGE SIÊU TIẾNG ĐỨC</span>
                </div>
                <div class="social__fanpage">
                    <span>YOUTUBE SIÊU TIẾNG ĐỨC</span>
                </div>
            </div>
        </div>
        <div class="copyright">2021 Sieutiengduc Viet Nam</div>
    </div>
</footer>
<!-- libs  --->
<script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
<script src="./assets/libs/owlCarousel/owl.carousel.min.js"></script>
<script src="./assets/libs/wavesurfer.js"></script>
<script src="./js/ui.js"></script>
<script src="./js/dynamic.js"></script>
</body>
</html>