@font-face {
	font-family: 'iCiel Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Medium.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Ultra.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UTM Avo';
	src: url('../../assets/fonts/utm-avo/UTM-Avo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UTM Avo';
	src: url('../../assets/fonts/utm-avo/UTM-AvoBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'UTM Avo';
	src: url('../../assets/fonts/utm-avo/UTM-AvoBold_Italic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'UTM Avo';
	src: url('../../assets/fonts/utm-avo/UTM-AvoItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}