// size
$fullWidth: 100%;

// font
$font_main: 'iCiel Gotham';
$font_text: 'UTM Avo';

// base color
$no_color: transparent;
$white: #ffffff;
$black: #000000;

// web color
$color_primary: #FFC811;
$color_secondary: #3c3c3c;
$color_bg: #ffca14;
$color_line:#D53052;
$color_bg_gray: #F5F5F5;
$color_placeholder: #585656;
$label_color:#727272;
// $text_gray: #686868;
// $title_color: $black;
$web_bg: $white;
// $card_color: #1a1d24;
// $text-black: $title_color;
// $text-white: $white;
// $color_gray: #a1a7a8;
// $color_gray_light: #f7f7f7;
// $color_gray_dark: #373a3c;
// $color_border: #dce0e0;

/* FONT SIZES
-------------------------------------------------- */
$font_size_xxs: 11px;
$font_size_xs: 12px;
$font_size_sm: 14px;
$font_size: 16px;
$font_size_l: 18px;
$font_size_xl: 20px;
$font_size_xxl: 22px;
$font_size_xxxl: 36px;

/* SCREEN SIZES
-------------------------------------------------- */
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-ml: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
