.main-title {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  font-size: 2.8rem;
  position: relative;
  text-transform: uppercase;

  @include max-md {
    font-size: 1.6rem;
    text-align: center;
  }

  @include max-ml {
    text-align: center;
    font-size: 2.1rem;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: calc(32% - 22px);
    border-top: 1px solid $color_secondary;
  }

  button {
    padding: 12px 45px 12px 30px;
    background: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    position: absolute;
    right: 0;
  }
}

.owl-carousel {
  .owl-nav {
    &.disabled {
      display: block;
    }
    .owl-prev {
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translate(-50%, -50%);
      &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 10px;
        right: 12px;
        border-top: 10px solid transparent;
        border-right: 20px solid #c4c4c4;
        border-bottom: 10px solid transparent;
      }
    }
    .owl-next {
      position: absolute;
      right: -80px;
      top: 50%;
      transform: translate(-50%, -50%);
      &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 10px;
        right: 8px;
        border-top: 10px solid transparent;
        border-left: 20px solid #c4c4c4;
        border-bottom: 10px solid transparent;
      }
    }
    button {
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      span {
        display: none;
      }
    }
  }
}

.p-mobile {
  @include max-ml {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.bg-main {
  background: $color_bg;
}

.bg-main-2 {
  background: linear-gradient(0, transparent 50%, #ffca14 50%);
}

.content-2col {
  @include flexbox();
  @include align-items(flex-start);
  @include justify-content(space-between);
  gap: 4.8rem;
  @include max-md {
    @include flex-wrap(wrap);
  }
  .left-col {
    width: 70%;
    @include max-md {
      width: 100%;
    }
  }
  .right-col {
    width: 30%;
    @include max-md {
      width: 100%;
    }
  }
}

.percent_bar {
  width: 60px;
  height: 60px;
  position: relative;
  span {
    font-size: 13px;
    line-height: 16px;
    color: $color_border;
    background: #e8e8e8;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    line-height: 50px;
    text-align: center;
  }
  .percent {
    height: 100%;
    width: 100%;
    clip: rect(0, 30px, 60px, 0);
    left: 0;
    position: absolute;
    top: 0;
    .half {
      height: 100%;
      width: 100%;
      border: 5px solid $color_border;
      border-radius: 50%;
      clip: rect(0, 30px, 60px, 0);
      left: 0;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      &.left_side {
        transform: rotate(180deg);
      }
    }
  }
  .shadow {
    height: 100%;
    width: 100%;
    border: 5px solid $black;
    border-radius: 50%;
    box-sizing: border-box;
  }
}