<%= _.template(require('./../base/header.html'))() %>
<div class="content-wrapper">
    <%= _.template(require('./../components/slide-banner.html'))() %>
    <%= _.template(require('./../components/learn-by-video.html'))() %>
    <%= _.template(require('./../components/thematic.html'))() %>
    <%= _.template(require('./../components/exam.html'))() %>
    <%= _.template(require('./../components/news.html'))() %>
    <%= _.template(require('./../components/about-we.html'))() %>
    <%= _.template(require('./../components/student.html'))() %>
</div>
<%= _.template(require('./../base/footer.html'))() %>
