<div class="about_wrapper bg-main-2 p-mobile">
  <div class="container">
    <div class="title_container">
      <div></div>
      <h1>CHÚNG TÔI LÀ AI</h1>
      <div></div>
    </div>
    <div class="about_container owl-carousel">
      <div class="about_item">
        <div class="avt">
          <img class="icon-star" src="/assets/images/icon-star.png" />
          <img src="/assets/images/about-1.png" />
        </div>
        <div class="content">
          <div class="name">
            <h3>Ths. Kỹ sư. NGUYỄN NGỌC DŨNG</h3>
            <div class="info">
              <span>
                <img src="/assets/images/icon-position.png" />
                HÀ NỘI, VN
              </span>
              <p>FOUNDER SIÊU TIẾNG ĐỨC</p>
            </div>
          </div>
          <div class="achievement">
            <h3>Thạc sĩ, kỹ sư Điện - Năng lượng</h3>
            <p>ĐẠI HỌC NORTH DAKOTA STATE UNIVERSITY, MỸ</p>
          </div>
          <div class="achievement">
            <h3>Nguyên giảng viên khoa Toán</h3>
            <p>ĐẠI HỌC NORTH DAKOTA STATE UNIVERSITY, MỸ</p>
          </div>
          <div class="achievement">
            <h3>
              Nguyên nghiên cứu viên khoa học kỹ thuật điện tử và máy tính
            </h3>
            <p>ĐẠI HỌC NORTH DAKOTA STATE UNIVERSITY, MỸ</p>
          </div>
          <div class="achievement">
            <h3>Nguyên trưởng Bộ phận đào tạo học thuật</h3>
            <p>THE IVY LEAGUE VIỆT NAM</p>
          </div>
          <div class="achievement">
            <h3>Giám đốc trung tâm CMMB</h3>
            <p>CMMB VIỆT NAM</p>
          </div>
          <div class="quote">"TRI THỨC LÀ SỨC MẠNH"</div>
        </div>
      </div>
      <div class="about_item">
        <div class="avt">
          <img src="/assets/images/about-2.png" />
        </div>
        <div class="content">
          <div class="name">
            <h3>MR. BÙI ANH TÚ</h3>
            <div class="info">
              <span>
                <img src="/assets/images/icon-position.png" />
                TP.HCM, VN
              </span>
              <p>GIÁM ĐỐC KỸ THUẬT CÔNG TY CMMB</p>
            </div>
          </div>
          <div class="achievement">
            <h3>Tốt nghiệp ngành Điện tử - Viễn thông</h3>
            <p>ĐĐẠI HỌC KỸ THUẬT MUNICH ( TUM )</p>
          </div>
          <div class="achievement">
            <h3>Cựu Chuyên viên Sáng kiến & Khoa học công nghệ</h3>
            <p>VNPT TP. HỒ CHÍ MINH</p>
          </div>
          <div class="achievement">
            <h3>Cựu biên tập kỹ thuật</h3>
            <p>TANNER AG</p>
          </div>
          <div class="achievement">
            <h3>
              Cựu Senior Technical Lead - Vị trí Regional Consultant phụ trách
              khu vực EMEA
            </h3>
            <p>ROBERT BOSCH - TPHCM - VIỆT NAM</p>
          </div>
          <div class="achievement">
            <h3>Cựu Proxy Product Owner</h3>
            <p>FSOFT TP.HỒ CHÍ MINH ( FPT )</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
