<div class="review">
    <form action="/#wpcf7-f268-p31-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
        <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="268">
        <input type="hidden" name="_wpcf7_version" value="5.4.2">
        <input type="hidden" name="_wpcf7_locale" value="vi_VN">
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f268-p31-o1">
        <input type="hidden" name="_wpcf7_container_post" value="31">
        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
        <input type="hidden" name="_wpcf7cf_hidden_group_fields" value="[]">
        <input type="hidden" name="_wpcf7cf_hidden_groups" value="[]">
        <input type="hidden" name="_wpcf7cf_visible_groups" value="[]">
        <input type="hidden" name="_wpcf7cf_repeaters" value="[]">
        <input type="hidden" name="_wpcf7cf_steps" value="{}">
        <input type="hidden" name="_wpcf7cf_options" value="{&quot;form_id&quot;:268,&quot;conditions&quot;:[],&quot;settings&quot;:{&quot;animation&quot;:&quot;yes&quot;,&quot;animation_intime&quot;:200,&quot;animation_outtime&quot;:200,&quot;conditions_ui&quot;:&quot;normal&quot;,&quot;notice_dismissed&quot;:false}}">
        </div>
        <div class="review__title">Gửi nhận xét của bạn</div>
        <p>1. Đánh giá của bạn về bài viết này: </p>
        <p>2. Viết nhận xét của bạn vào phần bên dưới:</p>
        <p><span class="wpcf7-form-control-wrap content"><textarea name="content" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nhận xét của bạn về bài viết này..."></textarea></span></p>
        <p>2. Thông tin cá nhân của bạn ( Thông tin của bạn luôn được bảo mật ):</p>
        <p><span class="wpcf7-form-control-wrap fullname"><input type="text" name="fullname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và tên *"></span><br>
        <span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Số điện thoại *"></span><br>
        <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span><br>
        <span>(*) : Thông tin bắt buộc</span></p>
        <div class="group-btn">
          <input type="submit" value="Gửi đánh giá" class="wpcf7-form-control wpcf7-submit button"><span class="ajax-loader"></span>
        </div>
    <div class="wpcf7-response-output" aria-hidden="true"></div></form>
</div>

