<div class="user-info">
  <form action="" method="post">
    <div class="left">
      <p class="user-info__title">Thông tin tài khoản</p>
      <div class="group-input">
        <label for="">Tên tài khoản</label>
        <input type="text" value="Andybird1234" />
      </div>
      <div class="group-input style-2">
        <label for="">Email</label>
        <input type="email" value="andybird@gmail.com" />
      </div>
      <div class="group-input has-select">
        <label for="">Giới tính</label>
        <i class="fas fa-sort-down"></i>
        <select name="" id="">
          <option value="Nam" selected>Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
      <div class="group-input has-select">
        <label for="">Ngày Sinh</label>
        <div class="group-select-wrapper">
          <div class="group-select">
            <i class="fas fa-sort-down"></i>
            <select name="" id="">
              <option value="01" selected>01</option>
              <option value="02">02</option>
              <option value="03">03</option>
            </select>
          </div>
          <div class="group-select">
            <i class="fas fa-sort-down"></i>
            <select name="" id="">
              <option value="1" selected>Tháng 1</option>
              <option value="2">Tháng 2</option>
              <option value="3">Tháng 3</option>
            </select>
          </div>
          <div class="group-select">
            <i class="fas fa-sort-down"></i>
            <select name="" id="">
              <option value="2021" selected>2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
          </div>
        </div>
      </div>
      <div class="group-input style-2">
        <label for="">Nghề nghiệp</label>
        <input type="text" value="Sinh viên" />
      </div>
      <div class="group-input has-select">
        <label for="">Ngôn ngữ</label>
        <i class="fas fa-sort-down"></i>
        <select name="" id="">
          <option value="vn" selected>Tiếng Việt</option>
          <option value="kr">Tiếng Hàn</option>
        </select>
      </div>
      <div class="group-input has-select">
        <label for="">Quốc gia</label>
        <i class="fas fa-sort-down"></i>
        <select name="" id="">
          <option value="vn" selected>Việt Nam</option>
          <option value="kr">Hàn Quốc</option>
        </select>
      </div>
      <div class="group-input has-select">
        <label for="">Thành phố</label>
        <i class="fas fa-sort-down"></i>
        <select name="" id="">
          <option value="hn" selected>Hà nội</option>
          <option value="hcm">TP Hồ Chí Minh</option>
        </select>
      </div>
    </div>
    <div class="right">
      <div class="group-input">
        <label for="">Mật khẩu hiện tại</label>
        <input type="password" value="" />
      </div>
      <div class="group-input">
        <label for="">Mật khẩu mới</label>
        <input type="password" value="" />
        <span>( 4-32 chữ cái và số kèm ký tự đặc biệt )</span>
      </div>
      <div class="group-input style-3">
        <label for="">Xác nhận mật khẩu</label>
        <input type="password" value="" />
      </div>
      <div class="group-input">
        <label for="">Link facebook</label>
        <input type="text" value="andybird@gmail.com" />
      </div>
      <div class="group-input style-3">
        <label for="">Link Twitter</label>
        <input type="text" value="andybird@gmail.com" />
      </div>
      <div class="group-input">
        <label class="style-2" for="">Nhận thông báo qua email</label>
        <label class="switch">
          <input type="checkbox" checked />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="group-input">
        <label class="style-2" for="">Tự động chạy video</label>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="btn-wrapper">
          <button type="submit">Lưu thay đổi</button>
      </div>
    </div>
  </form>
</div>
