<div class="review">
    <div class="review__title">Gửi nhận xét của bạn</div>
    <p>1. Đánh giá của bạn về bài viết này: </p>
    <p>2. Viết nhận xét của bạn vào phần bên dưới:</p>
    <textarea name="" id="" rows="10" placeholder="Nhận xét của bạn về bài viết này..."></textarea>
    <p>2. Thông tin cá nhân của bạn ( Thông tin của bạn luôn được bảo mật ):</p>
    <div class="group-form">
        <form action="" method="post">
            <input type="text" placeholder="Họ và tên *" required>
            <input type="number" placeholder="Số điện thoại *" required>
            <input type="email" placeholder="Email*" required>
            <span>(*) : Thông tin bắt buộc</span>
            <div class="group-btn">
                <button type="submit">Gửi đánh giá</button>
            </div>
        </form>
    </div>
</div>