<div class="newsletter">
    <div class="newsletter__left">
        <div class="newsletter__title">BẠN QUAN TÂM ?</div>
        <p class="newsletter__subtitle">Vui lòng để lại thông tin bên dưới để nhận tư vấn về các chương trình, 
            khoá học, và tham dự lớp học thử miễn phí !</p>
        <form method="get" id="newsletterForm" action="">
            <input name="name" type="text" placeholder="Họ và tên *" />
            <input name="birthday" type="text" placeholder="Năm sinh" />
            <input name="phone" type="text" placeholder="Số điện thoại liên hệ *" />
            <input name="email" type="text" placeholder="Email *" />
            <input name="address" type="text" placeholder="Khu vực sống *" />
            <textarea name="info" type="text" placeholder="Thông tin quan tâm"></textarea>
            <div class="newsletter__bottom">
                <label class="newsletter__checkbox">Đăng ký nhận newsletter
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <button class="newsletter__btn-submit" type="submit">Gửi đi</button>
            </div>
        </form>
    </div>
</div>