<div class="course_list_wrapper">
  <h2 class="title">Khóa học</h2>
  <div class="course_list_container">
    <div class="course_item">
      <i class="circle_bg"></i>
      <div class="course_item_avt">
        <img src="/assets/images/course-list-item-1.png" />
      </div>
      <div class="course_item_info">
        <div class="course_title">
          <p>TRÌNH ĐỘ A1</p>
          <span class="progress">100%</span>
        </div>
        <div class="progress_bar" data-progress="100">
          <div class="percent"></div>
        </div>
        <p class="current_lesson_title">Bài đang học</p>
        <p class="current_lesson_name">Chia đuổi tính từ</p>
      </div>
      <a href="#" class="course_item_action complete">ĐÃ HOÀN THÀNH</p>
    </div>
    <div class="course_item">
      <i class="circle_bg"></i>
      <div class="course_item_avt">
        <img src="/assets/images/course-list-item-2.png" />
      </div>
      <div class="course_item_info">
        <div class="course_title">
          <p>TRÌNH ĐỘ A2</p>
          <span class="progress">75%</span>
        </div>
        <div class="progress_bar" data-progress="75">
          <div class="percent"></div>
        </div>
        <p class="current_lesson_title">Bài đang học</p>
        <p class="current_lesson_name">Chia đuổi tính từ</p>
      </div>
      <a href="#" class="course_item_action">TIẾP TỤC</a>
    </div>
    <div class="course_item">
      <i class="circle_bg"></i>
      <div class="course_item_avt" data-margin-top="26">
        <img src="/assets/images/course-list-item-3.png" />
      </div>
      <div class="course_item_info">
        <div class="course_title">
          <p>TRÌNH ĐỘ A2</p>
          <span class="progress">0%</span>
        </div>
        <div class="progress_bar" data-progress="0">
          <div class="percent"></div>
        </div>
        <p class="current_lesson_title">Bài đang học</p>
      </div>
      <a href="#" class="course_item_action">BẮT ĐẦU</a>
    </div>
    <div class="course_item">
      <i class="circle_bg"></i>
      <div class="course_item_avt" data-margin-top="20">
        <img src="/assets/images/course-list-item-4.png" />
      </div>
      <div class="course_item_info">
        <div class="course_title">
          <p>TRÌNH ĐỘ A2</p>
          <span class="progress">0%</span>
        </div>
        <div class="progress_bar" data-progress="0">
          <div class="percent"></div>
        </div>
        <p class="current_lesson_title">Bài đang học</p>
      </div>
      <a href="#" class="course_item_action">BẮT ĐẦU</a>
    </div>
    <div class="course_item">
      <i class="circle_bg"></i>
      <div class="course_item_avt" data-margin-top="13">
        <img src="/assets/images/course-list-item-5.png" />
      </div>
      <div class="course_item_info">
        <div class="course_title">
          <p>ĐIỀU DƯỠNG</p>
          <span class="progress">0%</span>
        </div>
        <div class="progress_bar" data-progress="0">
          <div class="percent"></div>
        </div>
        <p class="current_lesson_title">Bài đang học</p>
      </div>
      <a href="#" class="course_item_action">BẮT ĐẦU</a>
    </div>
    <div class="course_item">
        <i class="circle_bg"></i>
        <div class="course_item_avt" data-margin-top="15">
          <img src="/assets/images/course-list-item-6.png" />
        </div>
        <div class="course_item_info">
          <div class="course_title">
            <p>GIAO TIẾP</p>
            <span class="progress">0%</span>
          </div>
          <div class="progress_bar" data-progress="0">
            <div class="percent"></div>
          </div>
          <p class="current_lesson_title">Bài đang học</p>
        </div>
        <a href="#" class="course_item_action">BẮT ĐẦU</a>
      </div>
      <div class="course_item">
        <i class="circle_bg"></i>
        <div class="course_item_avt" data-margin-top="30">
          <img src="/assets/images/course-list-item-7.png" />
        </div>
        <div class="course_item_info">
          <div class="course_title">
            <p>TRẺ EM</p>
            <span class="progress">0%</span>
          </div>
          <div class="progress_bar" data-progress="0">
            <div class="percent"></div>
          </div>
          <p class="current_lesson_title">Bài đang học</p>
        </div>
        <a href="#" class="course_item_action">BẮT ĐẦU</a>
      </div>
      <div class="course_item">
        <i class="circle_bg"></i>
        <div class="course_item_avt" data-margin-top="22">
          <img src="/assets/images/course-list-item-8.png" />
        </div>
        <div class="course_item_info">
          <div class="course_title">
            <p>DỰ BỊ ĐẠI HỌC</p>
            <span class="progress">0%</span>
          </div>
          <div class="progress_bar" data-progress="0">
            <div class="percent"></div>
          </div>
          <p class="current_lesson_title">Bài đang học</p>
        </div>
        <a href="#" class="course_item_action">BẮT ĐẦU</a>
      </div>
      <div class="course_item">
        <i class="circle_bg"></i>
        <div class="course_item_avt" data-margin-top="31">
          <img src="/assets/images/course-list-item-9.png" />
        </div>
        <div class="course_item_info">
          <div class="course_title">
            <p>KHÓA LUYỆN THI</p>
            <span class="progress">0%</span>
          </div>
          <div class="progress_bar" data-progress="0">
            <div class="percent"></div>
          </div>
          <p class="current_lesson_title">Bài đang học</p>
        </div>
        <a href="#" class="course_item_action">BẮT ĐẦU</a>
      </div>
  </div>
</div>
