<div class="course_wrapper p-mobile">
  <div class="title_container">
    <div></div>
    <h1>KHÓA HỌC</h1>
    <div></div>
  </div>
  <div class="course_container owl-carousel">
    <div class="course_item item_a1">
      <div>
        <span>A1</span>
        <img src="/assets/images/course-1.png" />
      </div>
      <p>TRÌNH ĐỘ A1</p>
    </div>
    <div class="course_item item_a2">
      <div>
        <span>A2</span>
        <img src="/assets/images/course-2.png" />
      </div>
      <p>TRÌNH ĐỘ A2</p>
    </div>
    <div class="course_item item_b1">
      <div>
        <span>B1</span>
        <img src="/assets/images/course-3.png" />
      </div>
      <p>TRÌNH ĐỘ B1</p>
    </div>
    <div class="course_item item_b2">
      <div>
        <span>B2</span>
        <img src="/assets/images/course-4.png" />
      </div>
      <p>TRÌNH ĐỘ B2</p>
    </div>
  </div>
</div>
