<div class="course_detail_wrapper">
    <h2 class="title">Khóa học / <span>Trình độ A1</span></h2>
    <div class="course_detail_container tab-list">
        <div class="lesson_list_container">
            <a href="javascript:;" class="lesson_item active">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Chia động từ sein, động từ có quy tắc, bất quy tắc</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Mạo từ và giống của danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
            <a href="javascript:;" class="lesson_item">
                <span class="item_title">A1.1</span>
                <span class="item_detail">Danh từ</span>
            </a>
        </div>
        <div class="lesson_detail_container">
            <h2>CHIA ĐỘNG TỪ SEIN, ĐỘNG TỪ CÓ QUY TẮC, BẤT QUY TẮC</h2>
            <iframe width="1089" height="612" src="https://www.youtube.com/embed/AoARKtT_UmI" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen></iframe>
            <p class="slide" data-target="plan">GIÁO ÁN</p>
            <div class="slide_detail" id="plan">Text text text text text text text text text text</div>
            <p class="slide" data-target="lesson">Bài</p>
            <div class="slide_detail" id="lesson">
                <div class="slide_lesson_detail">
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="33">
                           <span>33%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="33">
                           <span>33%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="88">
                           <span>88%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="50">
                           <span>50%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="66">
                           <span>66%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="75">
                           <span>75%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                </div>
            </div>
            <p class="slide" data-target="docs">TÀI LIỆU</p>
            <div class="slide_detail" id="docs">Text text text text text text text text text text</div>
        </div>
    </div>
</div>