 <div class="course_lesson_detail_wrapper left-col">
     <div class="breadcrum"><a href="#">Trang chủ</a><a href="#">Khoá học</a><span>Trình độ A2</span></div>
     <div class="course_lesson_detail_container">
         <h2 class="title">Tiếng Đức trình độ A2</h2>
         <p class="desc">Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc </p>
         <div class="course_lesson_detail">
             <h2>BÀI MẪU: Chia động từ sein, động từ có quy tắc, bất quy tắc</h2>
             <iframe width="1089" height="612" src="https://www.youtube.com/embed/AoARKtT_UmI" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen></iframe>
            <p class="slide" data-target="plan">GIÁO ÁN</p>
            <div class="slide_detail" id="plan">Text text text text text text text text text text</div>
            <p class="slide" data-target="lesson">Bài</p>
            <div class="slide_detail" id="lesson">
                <div class="slide_lesson_detail">
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="33">
                           <span>33%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="33">
                           <span>33%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="88">
                           <span>88%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="50">
                           <span>50%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="66">
                           <span>66%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                    <div class="slide_lesson_detail_item">
                        <div class="info">
                            <p class="lesson_title">LESEN<i></i>TEIL1</p>
                            <p>Lesen Sie den Text und die Aufgaben bis dazu Wählen Sie Sind die Aussagen richtig oder falsch</p>
                            <a href="javascript:;">Tiếp tục</a>
                        </div>
                        <div class="bar"></div>
                       <div class="percent_bar" data-percent="75">
                           <span>75%</span>
                           <div class="percent">
                               <div class="left_side half"></div>
                               <div class="right_side half"></div>
                           </div>
                           <div class="shadow"></div>
                       </div>
                    </div>
                </div>
            </div>
            <p class="slide" data-target="docs">TÀI LIỆU</p>
            <div class="slide_detail" id="docs">Text text text text text text text text text text</div>
         </div>
         <div class="follow-register">
             <p>Đăng ký để trải nghiệm toàn bộ các khoá học
                theo trình độ và chuyên đề</p>
            <button type="button">ĐĂNG KÝ NGAY</button>
         </div>
     </div>
 </div>