<div class="course_wrapper exam_wrapper bg-main p-mobile">
  <div class="container">
    <div class="title_container">
      <div></div>
      <h1>LUYỆN THI SIÊU CẤP</h1>
      <div></div>
    </div>
    <div class="course_container exam_container owl-carousel">
      <div class="course_item exam_item item_a1">
        <a href="/">
          <span>A1</span>
          <img src="/assets/images/exam-1.png" />
        </a>
        <p>TRÌNH ĐỘ A1</p>
      </div>
      <div class="course_item exam_item item_a2">
        <a href="/">
          <span>A2</span>
          <img src="/assets/images/exam-2.png" />
        </a>
        <p>TRÌNH ĐỘ A2</p>
      </div>
      <div class="course_item exam_item item_b1">
        <a href="/">
          <span>B1</span>
          <img src="/assets/images/exam-3.png" />
        </a>
        <p>TRÌNH ĐỘ B1</p>
      </div>
      <div class="course_item exam_item item_b2">
        <a href="/">
          <span>B2</span>
          <img src="/assets/images/exam-4.png" />
        </a>
        <p>TRÌNH ĐỘ B2</p>
      </div>
    </div>
  </div>
</div>
