<div class="exam_detail_wrapper">
  <h2 class="title">Đề thi thử / <span>Trình độ A1</span></h2>
  <div class="course_detail_container tab-list">
    <div class="lesson_list_container">
      <a href="javascript:;" class="lesson_item active">
        <span class="item_detail">TRÌNH ĐỘ A1</span>
      </a>
      <a href="javascript:;" class="lesson_item">
        <span class="item_detail">TRÌNH ĐỘ A2</span>
      </a>
      <a href="javascript:;" class="lesson_item">
        <span class="item_detail">TRÌNH ĐỘ B1</span>
      </a>
      <a href="javascript:;" class="lesson_item">
        <span class="item_detail">TRÌNH ĐỘ B2</span>
      </a>
    </div>
    <div class="lesson_detail_container">
      <ul class="exam-list">
        <li class="exam-item success">
          <div class="left">
            <p class="exam-title">
              ĐỀ THI THỬ <span>-</span>ĐỀ 1<i class="fas fa-star"></i>
            </p>
            <p>TRÌNH ĐỘ: <b>A1</b></p>
            <p>THỜI GIAN LÀM BÀI: <b>45 PHÚT</b></p>
          </div>
          <div class="right">
            <p>ĐIỂM LẦN THI TRƯỚC: <b> 100/100</b></p>
            <button type="button">BẮT ĐẦU</button>
          </div>
        </li>
        <li class="exam-item">
          <div class="left">
            <p class="exam-title">
              ĐỀ THI THỬ <span>-</span>ĐỀ 1</i>
            </p>
            <p>TRÌNH ĐỘ: <b>A1</b></p>
            <p>THỜI GIAN LÀM BÀI: <b>45 PHÚT</b></p>
          </div>
          <div class="right">
            <button type="button">BẮT ĐẦU</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
