<div class="guide left-col">
    <div class="breadcrumb">
        <a href="/">Trang chủ</a>
        <a href="/">Hướng dẫn</a>
    </div>
    <ul class="lst-2">
        <li class="item">
            <img src="/assets/images/img-sidebar-blog.png" alt="item-1" />
            <p class="content">
                <a href="">Hướng dẫn sử dụng bàn phím tiếng Đức</a>
                <span class="time">22/10/2021</span>
            </p>
        </li>
        <li class="item">
            <img src="/assets/images/img-sidebar-blog.png" alt="item-1" />
            <p class="content">
                <a href="">Hướng dẫn sử dụng bàn phím tiếng Đức</a>
                <span class="time">22/10/2021</span>
            </p>
        </li>
    </ul>
</div>