<div class="learn_video_wrapper p-mobile">
  <div class="container">
    <div class="title_container">
        <div></div>
        <h2>HỌC TIẾNG ĐỨC QUA VIDEO BÀI GIẢNG</h2>
        <div></div>
    </div>
    <div class="options_container">
        <div class="item">
            <img src="/assets/images/icon-mascot-video-1.png"/>
            <p>BẠN ĐANG Ở TRÌNH ĐỘ NÀO</p>
            <a href="#" class="btn-option">TEST NGAY</a>
        </div>
        <div class="item test_area">
            <img src="/assets/images/icon-mascot-video-2.png"/>
            <p>THI THỬ CÁC TRÌNH ĐỘ</p>
            <a href="#" class="btn-option">THI NGAY</a>
        </div>
    </div>
    <div class="frame_container">
        <div class="iframe_item">
            <iframe width="1089" height="612" src="https://www.youtube.com/embed/AoARKtT_UmI" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen></iframe>
        </div>
        <div class="content_area">
            <h2>TIÊU ĐỀ</h2>
            <div class="content">
                <p>Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung Nội dung</p>
            </div>
        </div>
    </div>
    <div class="course_wrapper">
      <div class="title_container">
        <div></div>
        <h1>KHÓA HỌC</h1>
        <div></div>
      </div>
      <div class="course_container owl-carousel">
        <div class="course_item item_a1">
          <div>
            <span>A1</span>
            <img src="/assets/images/course-1.png" />
          </div>
          <p>TRÌNH ĐỘ A1</p>
        </div>
        <div class="course_item item_a2">
          <div>
            <span>A2</span>
            <img src="/assets/images/course-2.png" />
          </div>
          <p>TRÌNH ĐỘ A2</p>
        </div>
        <div class="course_item item_b1">
          <div>
            <span>B1</span>
            <img src="/assets/images/course-3.png" />
          </div>
          <p>TRÌNH ĐỘ B1</p>
        </div>
        <div class="course_item item_b2">
          <div>
            <span>B2</span>
            <img src="/assets/images/course-4.png" />
          </div>
          <p>TRÌNH ĐỘ B2</p>
        </div>
      </div>
    </div>
  </div>
</div>