<div class="lessen_4_wrapper">
  <p class="lessen_title first_title">Lesen Sie die Texte bis Wählen Sie WŐrde die Person bei einer Kettenmail mitmachen</p>
  <p class="lessen_title second_title">In einer Online-Zeitung lesen Sie Kommentare zu einem Artikel über Kettenmails.</p>
  <div class="question_container">
      <div class="question_block">
          <div class="first_question">
              <p class="question_title">Beispiel</p>
              <div class="question_area">
                  <div class="question">
                      <span class="number">0</span>
                      <p>Henriette,...</p>
                  </div>
                  <div class="answer">
                      <span data-value="ja">Ja</span>
                      <span data-value="nein">Nein</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="question_block">
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
      </div>
      <div class="question_block">
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
        <div class="question_area">
            <div class="question">
                <span class="number">20</span>
                <p>Alexandra</p>
            </div>
            <div class="answer">
                <span data-value="ja">Ja</span>
                <span data-value="nein">Nein</span>
            </div>
        </div>
      </div>
  </div>
  <div class="info_container">
      <div class="info_block">
          <p>
              <span class="text">Beispiel</span> - Wenn du eine Mail geschickt bekommst, in der du aufgefordert wirst, sie an alle Freunde weiter- zuschicken – dann lass es bleiben. Du machst dich nur unbeliebt. Denn bei solchen Kettenmails handelt es sich fast immer um blöde Späße. Oft haben diese Mails sogar Viren und machen etwas am PC kaputt.
              <span class="quote">Henriette, 24, Magdeburg</span>
          </p>
          <p>
            <span class="number">20</span>Kettenmails sind für mich einfach ein Teil der Kom- munikation mit anderen. Mir ist es noch nie passiert, dass eine Kettenmail etwas kaputt gemacht hat. Ich mache auch nicht immer, was da steht, z.B. an mindes- tens 10 Personen schicken oder so. Ich sehe das einfach als einen Teil meiner Kommunikation und wenn die Mail lustig oder interessant ist, schicke ich sie auch weiter. Ich sehe keinen Grund, der dagegen spricht.
            <span class="quote">Alexandra, 28, Ludwigshafen</span>
          </p>
      </div>
      <div class="info_block">
        <p>
            <span class="number">20</span> Wenn du eine Mail geschickt bekommst, in der du aufgefordert wirst, sie an alle Freunde weiter- zuschicken – dann lass es bleiben. Du machst dich nur unbeliebt. Denn bei solchen Kettenmails handelt es sich fast immer um blöde Späße. Oft haben diese Mails sogar Viren und machen etwas am PC kaputt.
            <span class="quote">Henriette, 24, Magdeburg</span>
        </p>
        <p>
          <span class="number">20</span> Kettenmails sind für mich einfach ein Teil der Kom- munikation mit anderen. Mir ist es noch nie passiert, dass eine Kettenmail etwas kaputt gemacht hat. Ich mache auch nicht immer, was da steht, z.B. an mindes- tens 10 Personen schicken oder so. Ich sehe das einfach als einen Teil meiner Kommunikation und wenn die Mail lustig oder interessant ist, schicke ich sie auch weiter. Ich sehe keinen Grund, der dagegen spricht.
          <span class="quote">Alexandra, 28, Ludwigshafen</span>
        </p>
    </div>
  </div>
  <div class="navigation">
    <a href="#">Nächster Beitrag<i class="fas fa-angle-right"></i></a>
</div>
</div>
