<div class="library left-col">
    <div class="breadcrumb">
        <a href="/">Trang chủ</a>
        <a href="/">Thư viện</a>
    </div>
    <ul class="lst-3">
        <li class="item">
            <div class="main">
                <img src="/assets/images/library.png" alt="item-1" />
                <div class="content">
                    <a href="">
                        <span>Tài liệu học tập</span>
                        <span>Trình độ A1</span>
                    </a>
                    <div class="bottom">
                        <p>
                            <i class="fas fa-star"></i>
                            <span>Tài liệu mới nhất</span>
                            <span>Cách chia động từ sein</span>
                        </p>
                        <span class="time">22/10/2021</span>
                    </div>
                </div>
                <button class="btn-collapse" type="button">
                    <i class="fal fa-angle-left"></i>
                </button>
            </div>
            <ul class="lst-doc">
                <li class="item" style="z-index: 10">Tên Tài liệu 1</li>
                <li class="item" style="z-index: 9">Tên Tài liệu 2</li>
                <li class="item active" style="z-index: 8">Tên Tài liệu 3</li>
                <li class="item" style="z-index: 7">Tên Tài liệu 4</li>
                <li class="item" style="z-index: 6">Tên Tài liệu 5</li>
                <li class="item " style="z-index: 5">Tên Tài liệu 6</li>
                <li class="item" style="z-index: 4">Tên Tài liệu 7</li>
                <li class="item" style="z-index: 3">Tên Tài liệu 8</li>
                <li class="item " style="z-index: 2">Tên Tài liệu 9</li>
                <li class="item" style="z-index: 1">Tên Tài liệu 10</li>
            </ul>
        </li>
        <li class="item">
            <div class="main">
                <img src="/assets/images/library.png" alt="item-1" />
                <div class="content">
                    <a href="">
                        <span>Tài liệu học tập</span>
                        <span>Trình độ A1</span>
                    </a>
                    <div class="bottom">
                        <p>
                            <i class="fas fa-star"></i>
                            <span>Tài liệu mới nhất</span>
                            <span>Cách chia động từ sein</span>
                        </p>
                        <span class="time">22/10/2021</span>
                    </div>
                </div>
                <button class="btn-collapse" type="button">
                    <i class="fal fa-angle-left"></i>
                </button>
            </div>
            <ul class="lst-doc">
                <li class="item" style="z-index: 10">Tên Tài liệu 1</li>
                <li class="item" style="z-index: 9">Tên Tài liệu 2</li>
                <li class="item active" style="z-index: 8">Tên Tài liệu 3</li>
            </ul>
        </li>
    </ul>
</div>
