<div class="authen_wrapper">
  <div class="authen_form_container login">
    <div class="primary">
      <h1>ĐĂNG NHẬP<br />SIÊU TIẾNG ĐỨC</h1>
      <form class="authen_form">
        <div class="input_area">
          <input name="username" placeholder="Tên đăng nhập" />
          <img src="/assets/images/icon-username.png" class="username" alt="User name" />
        </div>
        <div class="input_area">
          <input name="password" type="password" placeholder="Mật khẩu" />
          <img src="/assets/images/icon-password.png" class="password" alt="Password" />
        </div>
        <a href="#" class="forgot_password">Quên mật khẩu?</a>
        <button type="submit" class="authen_button">ĐĂNG NHẬP</button>
      </form>
      <div class="social_login_wrapper">
        <p>Hoặc đăng nhập nhanh với</p>
        <a href="#" class="social_login"
          ><img src="/assets/images/icon-gg.png"
        /></a>
        <a href="#" class="social_login fb"
          ><img src="/assets/images/icon-fb-2.png"
        /></a>
      </div>
      <div class="mobile_res">
        <p>Nếu bạn chưa có tài khoản hãy đăng ký ngay!</p>
        <button type="button" class="authen_button revert">ĐĂNG KÝ</button>
      </div>
      <img class="icon_logo" src="/assets/images/logo.png" alt="Logo" />
    </div>
    <div class="secondary">
      <div class="mascot bounceInLeft">
        <img src="/assets/images/image_mascot.png" />
      </div>
      <button type="button" class="authen_button revert">ĐĂNG KÝ</button>
      <p>Nếu bạn chưa có tài khoản hãy đăng ký ngay!</p>
    </div>
    <a href="#" onclick="closeAuthenModal()" class="icon_close"></a>
  </div>
  <div class="authen_form_container register">
    <div class="secondary">
      <div class="mascot">
        <img src="/assets/images/image_mascot.png" />
      </div>
      <button type="button" class="authen_button revert">ĐĂNG NHẬP</button>
      <p>Nếu bạn đã có tài khoản hãy đăng nhập ngay!</p>
      <div class="social_login_wrapper">
        <a href="#" class="social_login"
          ><img src="/assets/images/icon-gg.png"
        /></a>
        <a href="#" class="social_login fb"
          ><img src="/assets/images/icon-fb-2.png"
        /></a>
      </div>
    </div>
    <div class="primary">
      <h1>ĐĂNG KÝ SIÊU TIẾNG ĐỨC</h1>
      <form class="authen_form">
        <div class="input_area">
          <input name="username" placeholder="Tên đăng nhập" />
          <img src="/assets/images/icon-username-2.png" class="username" alt="User name" />
        </div>
        <div class="input_area">
          <input name="email" placeholder="Email" />
          <img src="/assets/images/icon-email.png" class="email" alt="Email" />
        </div>
        <div class="input_area">
          <input name="password" type="password" placeholder="Mật khẩu" />
          <img src="/assets/images/icon-password-2.png" class="password" alt="Password" />
        </div>
        <div class="input_area">
          <input name="dob" placeholder="DD/MM/YYYY" />
          <img src="/assets/images/icon-dob.png" class="dob" alt="Day of birth" />
        </div>
        <div class="input_area">
          <input name="area" placeholder="Khu vực sống" />
        </div>
        <div class="input_area">
          <input name="phone" placeholder="Số điện thoại" />
          <img src="/assets/images/icon-phone.png" class="phone" alt="Phone" />
        </div>
        <button type="submit" class="authen_button">ĐĂNG KÝ</button>
      </form>
      <div class="mobile_res">
        <p>Nếu bạn đã có tài khoản hãy đăng nhập ngay!</p>
        <button type="button" class="authen_button revert">ĐĂNG NHẬP</button>
        <p>Hoặc đăng nhập nhanh với</p>
        <div class="social_login_wrapper">
            <a href="#" class="social_login"
              ><img src="/assets/images/icon-gg.png"
            /></a>
            <a href="#" class="social_login fb"
              ><img src="/assets/images/icon-fb-2.png"
            /></a>
          </div>
      </div>
    </div>
    <a href="#" onclick="closeAuthenModal()" class="icon_close"></a>
  </div>
  <div class="authen_form_container select_class">
    <div class="secondary">
      <h1 class="small">MỘT SIÊU TIẾNG ĐỨC</h1>
      <h1>CỦA RIÊNG BẠN</h1>
      <div class="mascot">
        <img src="/assets/images/image-mascot-2.png" />
      </div>
    </div>
    <div class="primary">
      <div class="info">
        <img src="/assets/images/bg-info.png" />
        <h1 class="small">
          HÃY CHỌN TRÌNH ĐỘ VÀ CHỦ ĐỀ TIẾNG ĐỨC BẠN MUỐN HỌC
        </h1>
      </div>
      <div class="select_container level">
        <div class="title">
          <p>TRÌNH ĐỘ</p>
          <div></div>
        </div>
        <div class="select_area">
          <div class="select_item">
            <label for="level1"
              >A1.1
              <input type="checkbox" name="level1" id="level1" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="level2"
              >A2.1
              <input type="checkbox" name="level2" id="level2" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="level3"
              >B1.1
              <input type="checkbox" name="level3" id="level3" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="level4"
              >B2.1
              <input type="checkbox" name="level4" id="level4" />
              <i class="checkbox"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="select_container subject">
        <div class="title">
          <p>CHỦ ĐỀ</p>
          <div></div>
        </div>
        <div class="select_area">
          <div class="select_item">
            <label for="subject1"
              >Điều dưỡng
              <input type="checkbox" name="subject1" id="subject1" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="subject2"
              >Dự bị đại học
              <input type="checkbox" name="subject2" id="subject2" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="subject3"
              >Giao tiếp
              <input type="checkbox" name="subject3" id="subject3" />
              <i class="checkbox"></i>
            </label>
          </div>
          <div class="select_item">
            <label for="subject4"
              >Trẻ em
              <input type="checkbox" name="subject4" id="subject4" />
              <i class="checkbox"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="select_container">
        <div class="title">
            <div></div>
          </div>
      </div>
      <div class="button_area">
        <button type="button" class="authen_button">Tiếp tục</button>
      </div>
    </div>
    <a href="#" onclick="closeAuthenModal()" class="icon_close"></a>
  </div>
</div>
