<div class="news left-col">
  <div class="news__new">
    <div class="news__new-left">
      <div class="img-wrapper">
        <img src="../../assets/images/img-sidebar-blog.png" alt="" />
        <span>BÀI VIẾT MỚI</span>
      </div>
      <div class="group-content">
        <a href="">
          <p>Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?</p>
          <p>
            Hiện nay du học nghề Đức, đặc biệt ngành điều dưỡng, đang trở thành
            một trào lưu và được nhiều bạn trẻ quan tâm. Các trung tâm du học
            Đức mọc lên như nấm sau mưa, từ miền ngược tới miền xuôi,...
          </p>
          <span class="active">September 17, 2021</span>
        </a>
      </div>
    </div>
    <ul class="article-lst">
      <li class="article-item">
        <div class="img-wrapper">
          <img src="../../assets/images/img-sidebar-blog.png" alt="" />
          <span>BÀI VIẾT MỚI</span>
        </div>
        <div class="group-content">
          <a href="">
            <p>
              Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?
            </p>
            <span class="active">September 17, 2021</span>
          </a>
        </div>
      </li>
      <li class="article-item">
        <div class="img-wrapper">
          <img src="../../assets/images/img-sidebar-blog.png" alt="" />
          <span>BÀI VIẾT MỚI</span>
        </div>
        <div class="group-content">
          <a href="">
            <p>
              Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?
            </p>
            <span class="active">September 17, 2021</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <ul class="article-lst">
    <li class="article-item">
      <img src="../../assets/images/img-sidebar-blog.png" alt="" />
      <div class="group-content">
        <a href="">
          <p>Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?</p>
          <p>
            Hiện nay du học nghề Đức, đặc biệt ngành điều dưỡng, đang trở thành
            một trào lưu và được nhiều bạn trẻ quan tâm. Các trung tâm du học
            Đức mọc lên như nấm sau mưa, từ miền ngược tới miền xuôi,...
          </p>
          <span>September 17, 2021</span>
        </a>
      </div>
    </li>
  </ul>
</div>
