<div class="news bg-main p-mobile">
  <div class="container">
    <div class="main-title news__title">
      <span>Tin tức</span> <button class="btn-viewmore">Xem thêm</button>
    </div>
    <div class="news__content">
      <div class="news__list-1 owl-carousel">
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
      </div>
      <div class="news__list-2 owl-carousel">
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
        <div class="news__item">
          <img src="../../assets/images/news.png" alt="bai 1" />
          <a href="/" class="news__content-title">
            <span>Tiêu đề bài viết</span>
            <hr />
            <span>Siêu tiếng đức</span>
          </a>
          <div class="news__des">
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
            text text text text text text text text text text text text text
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
