<div class="sidebar-blog right-col">
  <img src="../../assets/images/img-sidebar-blog.png" alt="" />
  <div class="sidebar-blog__title">SELECTED POST</div>
  <ul class="article-lst">
    <li class="article-item">
      <img src="../../assets/images/img-sidebar-blog.png" alt="" />
      <div class="group-content">
        <a href="">
          <p>Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?</p>
          <span>September 17, 2021</span>
        </a>
      </div>
    </li>
    <li class="article-item">
      <img src="../../assets/images/img-sidebar-blog.png" alt="" />
      <div class="group-content">
        <a href="">
          <p>Du học nghề điều dưỡng tại Đức: Điều kiện ? Chi Phí ? Cơ Hội ?</p>
          <span>September 17, 2021</span>
        </a>
      </div>
    </li>
  </ul>
  <img src="../../assets/images/img-sidebar-blog.png" alt="" />
</div>
