<div class="sidebar">
  <div class="sidebar__info">
    <img src="/assets/images/sidebar-avatar.png" alt="sidebar-avatar" />
    <span>Andybird1234</span>
    <span>ID:000001</span>
  </div>
  <ul class="sub-menu-content">
    <li class="sub-menu-list active">
      <a href="/"><i class="fad fa-book"></i>Khoá học</a>
    </li>
    <li class="sub-menu-list">
      <a href="/"><i class="fad fa-file-signature"></i>Thi thử</a>
    </li>
    <li class="sub-menu-list">
      <a href="/"><i class="fad fa-cog"></i>Thiết lập cài đặt</a>
    </li>
  </ul>
</div>
