<div class="slider-banner owl-carousel">
    <a href=""><img src="/assets/images/banner.png" alt="banner 1" /></a>
    <a href=""><img src="/assets/images/banner.png" alt="banner 2" /></a>
</div>

<div class="slider-news">
    <div class="marquee">
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
        <a href="">Siêu tiếng Đức's news</a>
    </div>
</div>
