<div class="student container p-mobile">
  <div class="main-title student__title">Cảm nhận học viên</div>
  <div class="student__list owl-carousel">
    <div class="student__item">
      <img src="../../assets/images/news.png" alt="hs 1" />
      <div class="student__content">
        <a href=""> Tên học viên</a>
        <span class="sub-title">Trình độ - Thời gian học</span>
        <div class="des">
          Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm
          nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận
        </div>
      </div>
    </div>
    <div class="student__item">
      <img src="../../assets/images/news.png" alt="hs 1" />
      <div class="student__content">
        <a href=""> Tên học viên</a>
        <span class="sub-title">Trình độ - Thời gian học</span>
        <div class="des">
          Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm
          nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận
        </div>
      </div>
    </div>
    <div class="student__item">
      <img src="../../assets/images/news.png" alt="hs 1" />
      <div class="student__content">
        <a href=""> Tên học viên</a>
        <span class="sub-title">Trình độ - Thời gian học</span>
        <div class="des">
          Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm
          nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận
        </div>
      </div>
    </div>
    <div class="student__item">
      <img src="../../assets/images/news.png" alt="hs 1" />
      <div class="student__content">
        <a href=""> Tên học viên</a>
        <span class="sub-title">Trình độ - Thời gian học</span>
        <div class="des">
          Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận Cảm
          nhận Cảm nhận Cảm nhận Cảm nhận Cảm nhận
        </div>
      </div>
    </div>
  </div>
</div>
