<div class="test_exam_wrapper left-col">
    <div class="breadcrum"><a href="#">Trang chủ</a><a href="#">Luyện thi</a><span>Đề thi thử trình độ B2</span></div>
    <div class="test_exam_container">
        <h2 class="title">Đề thi thử trình độ B2</h2>
        <p class="desc">Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc Chia động từ sein, động từ có quy tắc, bất quy tắc </p>
        <div class="test_exam">
            <p class="exam_title">ĐỀ THI THỬ<i></i>ĐỀ 2</p>
            <div class="exam_bottom">
                <p class="time">THỜI GIAN LÀM BÀI: <span>45 PHÚT</span></p>
                <button onclick="javascript:;">BẮT ĐẦU</button>
            </div>
        </div>
    </div>
</div> 