<div class="thematic container p-mobile">
    <div class="main-title thematic__title">HỌC TIẾNG ĐỨC QUA CHUYÊN ĐỀ</div>
    <div class="thematic__content owl-carousel">
        <div class="thematic__item">
            <img src="../../assets/images/chuyende1.png" alt="chuyên đề 1" />
            <div class="thematic__content-title">TIẾNG ĐỨC ĐIỀU DƯỠNG</div>
        </div>
        <div class="thematic__item">
            <img src="../../assets/images/chuyende2.png" alt="chuyên đề 2" />
            <div class="thematic__content-title">TIẾNG ĐỨC ĐIỀU DƯỠNG</div>
        </div>
        <div class="thematic__item">
            <img src="../../assets/images/chuyende3.png" alt="chuyên đề 3" />
            <div class="thematic__content-title">TIẾNG ĐỨC ĐIỀU DƯỠNG</div>
        </div>
        <div class="thematic__item">
            <img src="../../assets/images/chuyende4.png" alt="chuyên đề 4" />
            <div class="thematic__content-title">TIẾNG ĐỨC ĐIỀU DƯỠNG</div>
        </div>
    </div>
</div>
